<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="platform">
  <mujoco>
     <compiler
     meshdir="/home/raylyao/ur10/meshes/"
     balanceinertia="true"
     discardvisual="false" />
  </mujoco>
  <link
    name="platform">
    <inertial>
      <origin
        xyz="5.1083E-05 -0.6741 0.0082873"
        rpy="0 0 0" />
      <mass
        value="53.801" />
      <inertia
        ixx="25.968"
        ixy="-0.00019513"
        ixz="0.00040403"
        iyy="14.806"
        iyz="5.219"
        izz="23.645" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/raylyao/ur10/meshes/platform.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/raylyao/ur10/meshes/platform.stl" />
      </geometry>
    </collision>
  </link>
</robot>